apiVersion: apps/v1
kind: Deployment
metadata:
  name: travelsathi-backend
  labels:
    app: travel-sathi-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: travel-sathi-backend
  template:
    metadata:
      labels:
        app: travel-sathi-backend
    spec:
      containers:
        - name: backend
          image: saipuja/travelsathi-backend:latest
          ports:
            - containerPort: 9000
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3306/travelvibe
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mysql-credentials
                  key: MYSQL_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-credentials
                  key: MYSQL_PASSWORD
          livenessProbe:
            httpGet:
              path: /        # Use /actuator/health if actuator is enabled
              port: 9000
            initialDelaySeconds: 60
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /        # Use /actuator/health if actuator is enabled
              port: 9000
            initialDelaySeconds: 40
            periodSeconds: 10
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1"
