apiVersion: apps/v1
kind: Deployment
metadata:
  name: travelsathi-frontend
  namespace: travelbooking
  labels:
    app: travelsathi-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: travelsathi-frontend
  template:
    metadata:
      labels:
        app: travelsathi-frontend
    spec:
      containers:
        - name: travelsathi-frontend
          image: saipuja/travelsathi-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: http
          env:
            - name: REACT_APP_API_BASE_URL
              value: "http://travelsathi-backend:8080"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: travelsathi-frontend
  namespace: travelbooking
  labels:
    app: travelsathi-frontend
spec:
  selector:
    app: travelsathi-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
